<div class="container p-3">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img src="https://image.tmdb.org/t/p/original/{{serieDetail.poster_path}}" width="350"
                    class="img-fluid viewDescription" alt="{{serieDetail.title}}">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="colorsOfTitle">{{serieDetail.name}}</h2>
            
            <p>Date de sortie : {{serieDetail.release_date}}</p>
            <p>Nombre de saisons : {{serieDetail.number_of_seasons}}</p>
            <p>Genre :
                {{#each serieDetail.genres}}
                    {{this.name}} |
                {{/each}}
             </p>
             <p>Note : {{serieDetail.vote_average}} <i class="fas fa-star "></i></p>


            <h3>Synopsis :</h3>
            <p class="text-justify mt-3">{{serieDetail.overview}}</p>
        </div>
    </div>
</div>