<form action="/search" method="get" class="onbackgroundLT">
       <div class="d-flex justify-content-center">
           <div class="col-8 col-sm-12 col-md-8 col-lg-8 search">
               <div class="input-group mb-3">
                   <input type="text" name="search" class="form-control rounded" placeholder="Rechercher vos films ou series !"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                   <div class="input-group-append">
                           <button class="btn" type="submit">
                               <i class="fas fa-search"></i>
                           </button>
                   </div>
               </div>
           </div>
       </div>
   </form>
<div class="container p-3 allElements">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img src="https://image.tmdb.org/t/p/original/{{serieDetail.poster_path}}" width="350"
                    class="img-fluid viewDescription" alt="{{serieDetail.title}}">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="colorsOfTitle">{{serieDetail.name}}</h2>
            
            <p>Date de sortie : {{serieDetail.release_date}}</p>
            <p>Nombre de saisons : {{serieDetail.number_of_seasons}}</p>
            <p>Genre :
                {{#each serieDetail.genres}}
                    {{this.name}} |
                {{/each}}
             </p>
             <p>Note : {{serieDetail.vote_average}} <i class="fas fa-star "></i></p>


            <h3>Synopsis :</h3>
            <p class="text-justify mt-3">{{serieDetail.overview}}</p>
        </div>
    </div>
</div>